<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDisplayName</key>
        <string>Sawe Debug</string>
        <key>CFBundleExecutable</key>
        <string>sawe-debug</string>
        <key>CFBundleIdentifier</key>
        <string>ru.sipaha.sawe-debug</string>
        <key>CFBundleName</key>
        <string>Sawe Debug</string>
        <key>com.apple.security.get-task-allow</key>
        <true/>
    </dict>
</plist>
